
ChatAppPlayTechPvtLtd/ServerApplication/ServerApplication.iml
ChatAppPlayTechPvtLtd/ClientApplication/ClientApplication.iml
ChatAppPlayTechPvtLtd/.idea/vcs.xml
*.class
ChatAppPlayTechPvtLtd/.idea/inspectionProfiles/Project_Default.xml
*.jpg
ChatAppPlayTechPvtLtd/out/production/ClientApplication/lk/PlayTech/ChatApp/view/ChatForm.fxml
